<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/ce15e495-a960-4a83-8905-37e5b5bd0de5/v3/index.json" />
		<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
		<add key="locals" value=".\nuget" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="locals">
			<package pattern="Lsw.*" />
		</packageSource>
		<packageSource key="ABP Commercial NuGet Source">
			<package pattern="*" />
		</packageSource>
		<packageSource key="Microsoft Visual Studio Offline Packages">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<bindingRedirects>
		<add key="skip" value="False" />
	</bindingRedirects>
	<packageManagement>
		<add key="format" value="0" />
		<add key="disabled" value="False" />
	</packageManagement>
</configuration>